@font-face {
	font-family: 'flat';
	src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JF-Flat-regular.woff') format('woff'), url('../fonts/JF-Flat-regular.ttf')  format('truetype'), url('../fonts/JF-Flat-regular.svg#Montserrat-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}